/*介绍*/
* {
  box-sizing: border-box;
}
hgroup {
  width: 7.5rem;
  height: auto;
}
hgroup .title {
  padding-left: 0.2rem;
  line-height: 0.7rem;
  height: auto;
  overflow: hidden;
}
hgroup .title h2 {
  font-size: 11px;
  color: #000;
  margin: 0;
  float: left;
  padding-right: 0.25rem;
}
hgroup .title span {
  width: 0.24rem;
  height: 0.24rem;
  float: left;
  margin-right: 0.25rem;
  margin-top: 0.24rem;
}
/*分类*/
hgroup {
  width: 7.5rem;
  height: auto;
  overflow: hidden;
}
hgroup .nav {
  height: 0.78rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  border: 1px solid #01B5FF;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}
hgroup .nav .nav:after {
  content: "";
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
}
hgroup .nav h2 {
  margin: 0;
  font-size: 12px;
  color: #000;
  text-align: center;
  line-height: 0.76rem;
}
hgroup .nav .hot {
  background: #01B5FF;
  border-radius: 0.15rem;
  position: relative;
}
/*讲师*/
section {
  width: 7.5rem;
  height: auto;
}
section .rowed {
  height: auto;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  background: #fff;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
section .rowed .up {
  height: auto;
  padding: 0.2rem;
}
section .rowed .up a {
  display: block;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 0.2rem;
}
section .rowed .down {
  height: auto;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
}
section .rowed .down .down-up {
  height: auto;
  overflow: hidden;
}
section .rowed .down .down-up a:nth-child(1) {
  display: block;
  color: #01B5FF;
  font-size: 12px;
}
section .rowed .down .down-up a:nth-child(1) h2 {
  font-size: 13px;
  color: #000;
  border-bottom: 1px dashed #999;
  padding-bottom: 0.1rem;
}
section .rowed .down .down-up a:nth-child(2) {
  display: block;
  font-size: 12px;
  color: #FF9300;
  text-align: center;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
section .rowed .down .down-up p {
  font-size: 12px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
}
/*选择*/
.select {
  width: 7.5rem;
  height: auto;
  background: #fff;
  overflow: hidden;
  margin-bottom: 0.15rem;
  margin-top: 0.15rem;
}
.select .select-up {
  height: auto;
  padding-left: 0.2rem;
  padding-top: 0.4rem;
}
.select .select-up a {
  float: left;
  margin-right: 0.05rem;
  width: 0.4rem;
  height: 0.4rem;
}
.select .select-up a span {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
}
.select .select-up .zy {
  display: block;
  width: 0.6rem;
  height: 0.3rem;
}
.select .select-up .dian {
  border: none;
  margin-right: 0.2rem;
}
.select .select-up .dian span {
  border: none;
}
.select .select-down {
  height: auto;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.select .select-down a {
  float: left;
  font-size: 12px;
  color: #000;
  padding-right: 0.1rem;
}
.select .select-down a span {
  float: left;
}
.select .select-down a button {
  float: left;
  margin-right: 0.05rem;
  margin-left: 0.05rem;
}
/*底部*/
footer p {
  font-size: 12px;
  color: #666;
  text-align: center;
}
footer p a {
  display: inline-block;
  color: #666;
}
